#the auto backup files
*~ 

#the shopping list save file
lists.txt 

#a couple folders
starterbot
env

#some files from early dev
print_bot_id.py
east.py
command_handler*


#some personal scripts
start.sh
